<!DOCTYPE html>
<html>
<head>
    <title>Add Trip</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
    <h1>➕ Add New Trip</h1>
</div>

<div class="card">

<form method="POST">

<label>Trip Date</label><br>
<input type="date" name="trip_date"><br><br>

<label>Pickup Location</label><br>
<input type="text" name="pickup"><br><br>

<label>Drop Location</label><br>
<input type="text" name="drop"><br><br>

<label>Total KM</label><br>
<input type="number" name="km"><br><br>

<label>Fare Amount</label><br>
<input type="number" name="fare"><br><br>

<label>Fuel Expense</label><br>
<input type="number" name="fuel"><br><br>

<button type="submit">Save Trip</button>


</form>

</div>

</body>
</html>